<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>211225775981-qh36j07fo88e1eoctttl0v1sd6ubfkqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211225775981-qh36j07fo88e1eoctttl0v1sd6ubfkqm</string>
	<key>API_KEY</key>
	<string>AIzaSyD1I1D_FSW384ZdJA5u50S0jezOcLNBpZg</string>
	<key>GCM_SENDER_ID</key>
	<string>211225775981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SV.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-a9752</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-a9752.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211225775981:ios:76f80e98518b3626</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-a9752.firebaseio.com</string>
</dict>
</plist>